body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./table.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    min-width: 300px;
    margin-top: 50px;
    text-shadow: 8px 5px 5px rgb(58, 58, 63);
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
button{
    width: 10rem;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    background: goldenrod;
    color: #016f32;
    border: none;
    border-radius: 3px;
    margin-top: 3px;
}
